# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz
lua/cfg/*

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Eclipse files
.project
.settings/
target/
.classpath
.cache-main

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

